@import "../utils/const.less";

.z-collapse-container{
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    border-top: 1px solid @grayColor;
    top: 0;
    left: 0;
  }
}
