.z-scroll-wrapper{
  position: relative;
  height: 100%;
  overflow: hidden;
}

.z-pulldown-wrapper{
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
}

.z-pullup-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
