/*公共样式变量*/

// 颜色
@infoColor: #909399;
@primaryColor: #409EFF;
@successColor: #67C23A;
@warningColor: #E6A23C;
@dangerColor: #F56C6C;

// 尺寸
@normalSize: 42px;
@miniSize: 24px;
@smallSize: 32px;
@largeSize: 52px;

// 字体尺寸
@normalFontSize: 16px;
@miniFontSize: 12px;
@smallFontSize: 14px;
@largeFontSize: 24px;

// 无限转动
@keyframes global-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
